/* fonts */
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"),
    url("/static/fonts/Roboto-Regular.woff") format("woff"),
    url("/static/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium"),
    url("/static/fonts/Roboto-Medium.woff") format("woff"),
    url("/static/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/*  */

/* reset css */
html {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex-grow: 1;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: color .4s ease;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

button:hover{
  color: #4caf50;
  transition: color .4s ease;
}

input {
  outline: none;
  border: none;
}
/*  */

/* common */
.container {
  max-width: 1490px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
/*  */



/* payment */
.payment {
  padding: 50px 0;
}

.payment__inner{
  padding: 50px;
  background: #F7F7F7;
}

.payment__header{
  margin-bottom: 20px;
}

.payment__header-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.payment__header-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #000;
}

.payment__header-price {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #000;
}

.payment__blocks {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.payment__block-field {
  width: 100%;
}

.payment__block-field input {
  width: 100%;
  height: 40px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #272727;

  padding: 0 15px;

  border: 2px solid #AAB7B8;
  border-radius: 5px;
  background: #fff;
  transition: border-color 0.2s ease;
}

.payment__block-field input.input-error {
  border: 2px solid #ff4d4f !important;
  transition: border-color 0.2s ease;
}

.payment__block-field input.input-success {
  border: 2px solid #4caf50 !important;
  transition: border-color 0.2s ease;
}

.payment__block-field textarea {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #272727;

  padding: 15px;

  resize: none;
  min-height: 190px;
  width: 100%;
  border: 2px solid #AAB7B8;
  border-radius: 5px;
}

.payment__label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.payment__checkbox {
  display: none;
}

.payment__checkbox:checked + label .payment__checkbox-icon::before {
  opacity: 1;
  transition: all 0.4s ease;
}

.payment__checkbox-icon {
  display: block;

  width: 20px;
  height: 20px;

  border-radius: 4px;

  border: 2px solid #AAB7B8;

  position: relative;

  flex-shrink: 0;
}

.payment__checkbox-icon::before {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 10px;
  height: 10px;

  background: #AAB7B8;
  opacity: 0;
  transition: all 0.4s ease;

  border-radius: 2px;
}

.payment__checkbox-text,
.payment__checkbox-text button{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #34495E;
}

.payment__checkbox-text button:hover{
  color: #272727;
}

.payment__submit {
  width: 100%;
  padding: 20px;

  border-radius: 8px;
  border: 3px solid #272727;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #272727;
  text-transform: uppercase;

  background: #fff;
  transition: all 0.4s ease;
}

.payment__submit:hover {
  background: #272727;
  color: #fff;
  transition: all 0.4s ease;
}

.suggestions-wrapper {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #000;
}

.suggestions-suggestions {
  border: 2px solid #AAB7B8;
  border-radius: 5px;
  top: 10px;
  padding: 15px;
}


/*  */

/* footer */
.footer {
  padding: 30px 0;
}

.footer__button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #000;
}
/*  */

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  z-index: 1001;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
}

.modal.-js-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease;
}

.modal__overlay {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.8);
}

.modal__wrapper {
  max-width: 60vw;

  position: relative;

  background: #f9f6f3;
  padding: 2vw;
  border-radius: 0.7vw;
  margin: 0 10px;
}

.modal__content {
  max-height: 540px;
  padding-right: 10px;
}

.modal__close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  min-width: 32px;
  min-height: 32px;
}

.modal__close-button svg {
  width: 100%;
  height: 100%;
}

.modal__wrapper h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 15px;
}

.modal__wrapper li {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 1.25;
}

.modal__wrapper li:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .modal__wrapper {
    max-width: 800px;
  }

  .modal__wrapper li {
    font-size: 14px;
  }

  .modal__wrapper h4 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .modal__wrapper {
    padding-top: 60px;
  }

  .modal__wrapper h3 {
    font-size: 18px;
  }
}

/* loader */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid #f3f3f3; /* светлый фон */
    border-top: 8px solid #3498db; /* цвет спиннера */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*  */
